In [ ]:
pwd

'/Users/abirhossain'

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
from pandas import *
 
# reading CSV file
df = read_csv("/content/drive/MyDrive/1.csv")
 
# converting column data to list

In [4]:
pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.0-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.1/70.1 KB 2.9 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.25.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.26.14)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (4.0.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (22.2.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (3.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (4.0.2)
Installing collected packages: openai
Successfully installed openai-0.27.0

In [44]:
import openai
import pandas as pd
import numpy as np

# Set up your OpenAI API key
openai.api_key = "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"

# Load your dataset into a Pandas dataframe
df = pd.read_csv("/content/drive/MyDrive/1.csv")

# Define the prompt to use for GPT-3 embeddings
prompt = "Get embeddings for the following input: "
df=df[:10000]
# Initialize an empty list to store the embeddings
embeddings = []

# Loop over the rows in your dataset and generate embeddings for each one
for i, row in df.iterrows():
    input_text = row["Text"]
    resp = openai.Embedding.create(
    input=input_text,
    engine="text-similarity-davinci-001")
    embedding = resp['data'][0]['embedding']
    embeddings.append(embedding)

# Convert the list of embeddings to a numpy array
embedding_array = np.array(embeddings)

# Add the embeddings to a new column in your dataframe
df["embeddings"] = list(embedding_array)

# Save the updated dataframe to a new file

array([-0.01314637,  0.00750041, -0.01776982, ..., -0.00135036,
        0.01265735, -0.01365444])

In [41]:
df = pd.read_csv("/content/your5.csv", sep=',', decimal=',')

In [45]:
df

,score,titie,Text,embeddings
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...","[-0.01314636506140232, 0.0075004142709076405, ..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,"[-0.010748181492090225, 0.00025850709062069654..."
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,"[-0.008965042419731617, -0.0005979867419227958..."
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,"[-0.012323242612183094, 0.006488421931862831, ..."
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...","[-0.011767380870878696, -0.0004722018493339419..."
...,...,...,...,...
9995,4,Winamp flaw: Digital attacks use skins for cam...,Users of the music player should watch out for...,"[-0.013728415593504906, 0.005676782224327326, ..."
9996,4,BMC adds PeopleSoft management,BMC Software has released a new version of Pat...,"[-0.00787639245390892, 0.005851670168340206, -..."
9997,3,CAO chief faces Singapore probe,The chief of Beijing-backed China Aviation Oil...,"[-0.009190421551465988, 0.010531350038945675, ..."
9998,3,A Microsoft deal gets full EU inquiry,BRUSSELS The European Commission has opened an...,"[-0.013981848023831844, 0.00920925848186016, -..."
9999,4,Feds Bust File-Sharing Sites,Operation Digital Gridlock targets peer-to-pee...,"[-0.013322371989488602, 0.010074407793581486, ..."

In [46]:
df.to_csv("your6.csv",sep = ',')

In [36]:
df

,score,titie,Text,embeddings
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...","[-0.01314636506140232, 0.0075004142709076405, ..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,"[-0.010748181492090225, 0.00025850709062069654..."
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,"[-0.008965042419731617, -0.0005979867419227958..."
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,"[-0.012323242612183094, 0.006488421931862831, ..."
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...","[-0.011767380870878696, -0.0004722018493339419..."
...,...,...,...,...
495,1,Seven Georgian soldiers wounded as South Osset...,AFP - Sporadic gunfire and shelling took place...,"[-0.009578901343047619, 0.004194330424070358, ..."
496,1,Rwandan Troops Arrive in Darfur (AP),AP - Dozens of Rwandan soldiers flew into Suda...,"[-0.0008159209974110126, 0.00434101652354002, ..."
497,1,Rwanda Troops Airlifted to Start AU Mission in...,Reuters - Rwandan troops were airlifted on Sun...,"[-0.006522478070110083, 0.004456075839698315, ..."
498,1,Bomb at India Independence Parade Kills 15 (AP),AP - A bomb exploded during an Independence Da...,"[-0.014149528928101063, 0.006523237098008394, ..."
499,1,Australian FM to visit North Korea for talks o...,AFP - Australia's foreign minister will pay a ...,"[-0.009955797344446182, 0.0026821119245141745,..."

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   score       500 non-null    int64
 1   titie       500 non-null    object
 2   Text        500 non-null    object
 3   embeddings  500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [ ]:
a=["eating food", "I am hungry", "I am traveling" , "exploring new places"]

In [48]:
from sklearn.model_selection import train_test_split
 
X_train, X_test, y_train, y_test = train_test_split(
    list(df.embeddings.values),
    df.score,
    test_size = 0.2,
    random_state=42
)

In [49]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
 
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
preds = clf.predict(X_test)

In [50]:
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

           1       0.90      0.85      0.87       515
           2       0.92      0.98      0.95       467
           3       0.86      0.77      0.81       494
           4       0.82      0.90      0.86       524

    accuracy                           0.87      2000
   macro avg       0.88      0.88      0.87      2000
weighted avg       0.87      0.87      0.87      2000